@import "../variables";

.wrap {
  display: flex;
  height: 100%;
  width: 100%;
  & > header {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}